<section>
    <div class="my-container">
        <div id="company">- Makimura -</div>
        <ul class="socials">
            <li><span class="iconify" data-icon="cib-facebook" data-inline="false"></span></li>
            <li><span class="iconify" data-icon="cib-instagram" data-inline="false"></span></li>
            <li><span class="iconify" data-icon="cib-twitter" data-inline="false"></span></li>
        </ul>

        <ul class="my-nav">
            <li>Menu</li>
            <li>Reservation</li>
            <li>Contact</li>
            <li>About</li>
        </ul>


    </div>
</section>

<div>
    <p class="copyright">© 2020 Makimura Inc.</p>
</div>