<!-- <div class="test" style="">

</div> -->
<app-nav-mobile></app-nav-mobile>
<app-nav-desktop></app-nav-desktop>

<section class="my-container location-header">
    <div class="location-header-img"
        [ngStyle]="backroundImageStyle()">
        <div class="text-background">
            <h1 class="location-header-text">{{ branch.name }}</h1>
        </div>
    </div>
</section>

<section class="my-container details">

    <p class="hrs">Hours &<span class="red"> Location</span></p>
    <div class="separator"></div>
    <div class="map">
        <iframe
            [src]="branch.googleMapEmbed | safe"
            allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>

    <!-- <div class="separator"></div> -->
    <p><a href="{{ branch.googleMapLink }}" class="address">{{ branch.address }}</a><!-- <br> -->
        <!-- <a class="get-directions" href="https://goo.gl/maps/1tT8Hhr7Qx1a9m696">Get Directions</a> -->
    </p>
    <p>Monday - Friday<br>8:00am - 5:00pm</p>
    <p>Saturday & Sunday<br>12:00pm - 8:00pm</p>
    <p>(02) 86336<br>0936 837 6473<br>{{ branch.email }}</p>

    <!-- <div #mapContainer id="map"></div> -->

    <!-- <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1sfuwqoJHTG13Vp4IZtzUQQwjYn39_IjN" width="640" height="480" frameborder="0" style="border:0;"></iframe> -->



</section>
<app-footer></app-footer>